# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
Flask!=0.11,<1.0,>=0.10 # BSD
dogpile.cache>=0.6.2 # BSD
netaddr!=0.7.16,>=0.7.13 # BSD
eventlet!=0.18.3,>=0.18.2 # MIT
requests>=2.10.0 # Apache-2.0
greenlet>=0.3.2 # MIT
oslo.rootwrap>=5.0.0 # Apache-2.0
Jinja2>=2.8 # BSD License (3 clause)
