import multiprocessing

bind = '[::]:5000'
workers = workers = multiprocessing.cpu_count() * 2 + 1
timeout=60
backlog = 2048
worker_class ="sync"
debug = False
daemon = True
pidfile = "/var/run/gunicorn.pid"
errorlog = "/var/log/akanda/gunicorn_error.log"
accesslog = "/var/log/akanda/gunicorn_access.log"
