import multiprocessing

bind = '[::]:5000'
workers = workers = multiprocessing.cpu_count() * 2 + 1
backlog = 2048
worker_class ="sync"
debug = False
daemon = True
pidfile = "/var/run/gunicorn.pid"
errorfile = "/tmp/gunicorn.log"
