/var/log/astara/*.log {
        weekly
        rotate 7
        compress
        missingok
        create 644 root root
        postrotate
            kill -USR1 `cat /var/run/gunicorn.pid`
        endscript
}
